[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
wandb = "==0.16"
pandas = "==2.2.3"
biquad = "==0.4"
pybela = "==1.0.2"

[dev-packages]
pip-chill = "*"
pipdeptree = "*"

[scripts]
train = "python src/train.py"
dataset = "python src/dataset/dataset.py"
callback = "python src/callback.py"
requires = "pip-chill --no-chill -v" # > requirements.txt

[requires]
python_version = "3.10"
